<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="MicrosoftAppId" value="36021b33-f181-4757-b766-089f1ba0d3e8" />
    <add key="MicrosoftAppPassword" value="aynFFn7pF0PnrjfZWQ4BjLP" />

    <!-- AuthBot settings for V2 AAD endpoint-->
    <add key="ActiveDirectory.Mode" value="v2" />
    <add key="ActiveDirectory.Scopes" value="User.Read Device.Read Device.Command" />
    <add key="ActiveDirectory.EndpointUrl" value="https://login.microsoftonline.com" />
    <add key="ActiveDirectory.Tenant" value="common" />
    <add key="ActiveDirectory.ClientId" value="36021b33-f181-4757-b766-089f1ba0d3e8" />
    <add key="ActiveDirectory.ClientSecret" value="aynFFn7pF0PnrjfZWQ4BjLP" />
    <add key="ActiveDirectory.RedirectUrl" value="https://romemsgraphskill.azurewebsites.net/api/OAuthCallback" />

    <!-- Microsoft Graph Devices -->
    <add key="MSGraphDevicesApiUrl" value="https://graph.Microsoft.com/beta/me/devices"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>